# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next
.next-prod

# Git
.git

# ENV
.env.local
.env.development

# NX
.nx
.analyze


certificates
