@import 'apps/esp/src/styles/_mixins.scss';

.page-content {
  display: flex;
  justify-content: space-between;

  @include responsive-md-down {
    flex-direction: column;
    row-gap: 1rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__action {
    display: flex;
    align-items: flex-end;
  }
}
