NEXTAUTH_SECRET=toRzXSUUBfVKp_hmDDhEpw-ujnkGepIpDkQplaTy
NEXTAUTH_URL=http://localhost:4242

API_URL=http://esp-backend-dev.southeastasia.cloudapp.azure.com

OKTA_CLIENT_ID=0oa9ujmkql2fCiLh95d7
OKTA_CLIENT_SECRET=Av63gcSYIaAyRfzzh610rziiKWf183bmG0Dwx8MZ
OKTA_CLIENT_ISSUER=https://dev-78389642.okta.com/oauth2/default

GG_MEASUREMENT_ID=G-5V3TS550XB
GG_GTM_ID=GTM-TZ25FNL

NEED_TO_USE_MOCK_DATA=0
NEED_TO_USE_PERMISSION=0

NEED_TO_USE_CONTENT_SECURITY=0

NEED_TO_HIDE_TIME_POLICY=0

## Dont use this
# OKTA_CLIENT_ID=0oa9v55cuuYNZLItL5d7
# OKTA_CLIENT_SECRET=toRzXSUUBfVKp_hmDDhEpw-ujnkGepIpDkQplaTy
# OKTA_CLIENT_ISSUER=https://dev-82915868.okta.com/oauth2/default
